.content
  display: flex
  position: relative
  flex: 1
  // transition: all .35s ease

.content-slide
  padding: 48px
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  box-sizing: border-box
  visibility: hidden
  background-color: #fff
  position: absolute
  top: 0
  left: 0
  animation: animateFadeOut 5s
  transition: all 0.5s ease
  &.slide-on
    position: relative
    visibility: visible
    opacity: 1
    animation: animateFade 1s
    z-index: 1 

@keyframes animateFade
  0%
    transform: translateX(100%)
  100%
    transform: translateX(0)

@keyframes animateFadeOut
  0%
    transform: translateX(0)
  100%
    transform: translateX(100%)