.content
  display: flex
  position: relative
  flex: 1

.content-slide
  padding: 48px
  width: 100%
  height: 100%
  box-sizing: border-box

.header-on
  padding-left: 300px
  .header
    transform: translateX(0)