<div class="back">
    <a href="@@link" class="btn-back">
        <div>
            <svg width="16px" height="14px" viewBox="0 0 16 14">
                <path d="M1,7 L15,7"></path>
                <polyline points="7 1 1 7 7 13"></polyline>
            </svg>
        </div>
        <span>Назад</span>
    </a>
    <div class="menu-back">
        <ul class="nav-history">
            <li @@mainlink><a href="index.html">Главная</a></li>
            <li @@jslink><a href="training.html">Тренировки с JS</a></li>
            <li @@bflink><a href="#">Базовые элементы и функции</a></li>
            <li @@portlink><a href="portfolio.html">Мое портфолио</a></li>
        </ul>
        <!-- <ul class="nav-links">
            <li><a href="#">My Account</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Support / Help</a></li>
        </ul> -->
    </div>
</div>
