@import url(fonts/fonts.css);

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #fff;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.loader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 125px;
  height: 125px;
  background-color: darkviolet;
  -webkit-animation: spin 2s ease 0.2s infinite alternate;
  animation: spin 2s ease 0.2s infinite alternate;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo {
  font-size: 75px;
  color: #fff;
  opacity: 0;
  -webkit-animation: fade-in_logo 2s ease 0.2s infinite alternate;
  animation: fade-in_logo 2s ease 0.2s infinite alternate;
}

@-webkit-keyframes fade-in_logo {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }

  50% {
    -webkit-transform: rotate(90deg) scale(0.5, 0.5);
    transform: rotate(90deg) scale(0.5, 0.5);
    opacity: 0;
  }

  75% {
    opacity: 1;
    -webkit-transform: rotate(90deg) scale(1, 1);
    transform: rotate(90deg) scale(1, 1);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotate(90deg) scale(1, 1);
    transform: rotate(90deg) scale(1, 1);
  }
}

@keyframes fade-in_logo {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }

  50% {
    -webkit-transform: rotate(90deg) scale(0.5, 0.5);
    transform: rotate(90deg) scale(0.5, 0.5);
    opacity: 0;
  }

  75% {
    opacity: 1;
    -webkit-transform: rotate(90deg) scale(1, 1);
    transform: rotate(90deg) scale(1, 1);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotate(90deg) scale(1, 1);
    transform: rotate(90deg) scale(1, 1);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  20% {
    -webkit-border-radius: 50% 0 0 0;
    border-radius: 50% 0 0 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  40% {
    -webkit-border-radius: 50% 50% 0 0;
    border-radius: 50% 50% 0 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  60% {
    -webkit-border-radius: 50% 50% 50% 0;
    border-radius: 50% 50% 50% 0;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  100% {
    -webkit-border-radius: 50% 50% 50% 5px;
    border-radius: 50% 50% 50% 5px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  20% {
    -webkit-border-radius: 50% 0 0 0;
    border-radius: 50% 0 0 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  40% {
    -webkit-border-radius: 50% 50% 0 0;
    border-radius: 50% 50% 0 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  60% {
    -webkit-border-radius: 50% 50% 50% 0;
    border-radius: 50% 50% 50% 0;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  100% {
    -webkit-border-radius: 50% 50% 50% 5px;
    border-radius: 50% 50% 50% 5px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

.animation-place {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.animation-slide {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60%;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
}

.animation-slide.on {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.app-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 32px;
  color: #fff;
  width: 100%;
  height: 80px;
}

.app-view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
}

.app-atomic-text .app-title {
  background-color: darkviolet;
}

.atomic-text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.atomic-text_view {
  display: block;
  word-break: break-all;
  font-size: 32px;
}

.atomic-text_input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 35px;
  width: 100%;
  margin-top: 15px;
  border: 1px solid rgba(160, 160, 160, 0.5);
  outline: none;
  font-size: 18px;
  padding-left: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-35vw, 0);
  -ms-transform: translate(-35vw, 0);
  transform: translate(-35vw, 0);
  width: 35vw;
  height: 100vh;
  background-color: rgba(38, 41, 58, 0.95);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 99;
}

.menu.menu-active {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.menu-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 32px;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
}

.menu-item {
  margin-bottom: 15px;
  color: #fff;
  font-size: 20px;
}

.show-menu {
  position: absolute;
  top: 0;
  right: -80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  background: #26293A;
  width: 80px;
  height: 40px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.show-menu.menu-active {
  right: 0;
  background-color: transparent;
}

.clock {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.3;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.clock:hover {
  opacity: 0;
}

.app-todo-list .app-title {
  background-color: yellow;
  color: #000;
  font-size: 32px;
  font-weight: bold;
}

.todo-list {
  width: 100%;
  height: 100%;
}

.todo-list_view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 15px;
}

.todo-list_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  border-bottom: 2px solid #eff5f5;
}

.todo-list_item:last-child {
  border: none;
}

.todo-list_item.completed {
  color: lightgray;
}

.todo-list_item.completed .todo-list_label {
  text-decoration: line-through;
}

.todo-list_item.completed .todo-list_edit-btn,
.todo-list_item.completed .todo-list_delete-btn {
  color: lightgray;
}

.todo-list_item:hover .todo-list_edit {
  visibility: visible;
  opacity: 1;
}

.todo-list_item.editing .todo-list_edit-input {
  width: 50%;
  margin-left: 5px;
  display: block;
  border: 1px solid rgba(160, 160, 160, 0.3);
  outline: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  padding-left: 10px;
  font-size: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #fff;
}

.todo-list_item.editing .todo-list_edit-input:focus {
  border-color: yellow;
}

.todo-list_item.editing .todo-list_label {
  display: none;
}

.todo-list_edit {
  visibility: hidden;
  opacity: 0;
  margin-left: auto;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.todo-list_edit-btn,
.todo-list_delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  outline: none;
  margin: 0 5px;
}

.todo-list_edit-btn:hover,
.todo-list_delete-btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

.todo-list_edit-btn:active,
.todo-list_delete-btn:active {
  background: rgba(0, 0, 0, 0.3);
}

.todo-list_checkbox-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.todo-list_label {
  margin-left: 5px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  max-width: 100%;
  word-break: break-word;
}

.todo-list_edit-input {
  display: none;
}

.todo-list_input {
  border: 1px solid rgba(160, 160, 160, 0.3);
  outline: none;
  width: 85%;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  padding-left: 10px;
  font-size: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #fff;
}

.todo-list_input:focus {
  border-color: yellow;
}

.todo-list_action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 35px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.todo-list_add-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background: none;
  font-size: 18px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
  height: 100%;
  width: -webkit-calc(15% - 15px);
  width: calc(15% - 15px);
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.todo-list_add-item:hover {
  background: rgba(0, 0, 0, 0.1);
}

.todo-list_add-item:active {
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1366px) {
  .todo-list {
    background-attachment: fixed;
  }

  .todo-list_input {
    width: 80%;
  }

  .todo-list_add-item {
    width: -webkit-calc(20% - 15px);
    width: calc(20% - 15px);
  }
}

@media screen and (max-width: 768px) {
  .animation-slide {
    width: 80%;
  }

  .menu {
    width: 100vw;
    -webkit-transform: translate(-100vw, 0);
    -ms-transform: translate(-100vw, 0);
    transform: translate(-100vw, 0);
  }

  .todo-list_add-item {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .animation-slide {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  .atomic-text_view {
    font-size: 28px;
  }
}

@media screen and (max-width: 568px) {
  .todo-list_input {
    width: 75%;
  }

  .todo-list_add-item {
    width: -webkit-calc(25% - 15px);
    width: calc(25% - 15px);
  }

  .todo-list_add-item {
    font-size: 14px;
  }

  .todo-list_input {
    width: 70%;
  }

  .todo-list_item {
    padding: 15px 0;
  }

  .todo-list_add-item {
    width: -webkit-calc(30% - 15px);
    width: calc(30% - 15px);
  }
}

@media screen and (max-width: 320px) {
  .todo-list_input {
    width: 65%;
  }

  .todo-list_add-item {
    width: -webkit-calc(35% - 15px);
    width: calc(35% - 15px);
  }
}