@import url(fonts/fonts.css);

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #fff;
  overflow-x: hidden !important;
}

.app {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
}

.wrapper {
  max-width: 1600px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.loader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 125px;
  height: 125px;
  background-color: darkviolet;
  -webkit-animation: spin 2s ease 0.2s infinite alternate;
  animation: spin 2s ease 0.2s infinite alternate;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo {
  font-size: 75px;
  color: #fff;
  opacity: 0;
  -webkit-animation: fade-in_logo 2s ease 0.2s infinite alternate;
  animation: fade-in_logo 2s ease 0.2s infinite alternate;
}

@-webkit-keyframes fade-in_logo {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }

  50% {
    -webkit-transform: rotate(90deg) scale(0.5, 0.5);
    transform: rotate(90deg) scale(0.5, 0.5);
    opacity: 0;
  }

  75% {
    opacity: 1;
    -webkit-transform: rotate(90deg) scale(1, 1);
    transform: rotate(90deg) scale(1, 1);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotate(90deg) scale(1, 1);
    transform: rotate(90deg) scale(1, 1);
  }
}

@keyframes fade-in_logo {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }

  50% {
    -webkit-transform: rotate(90deg) scale(0.5, 0.5);
    transform: rotate(90deg) scale(0.5, 0.5);
    opacity: 0;
  }

  75% {
    opacity: 1;
    -webkit-transform: rotate(90deg) scale(1, 1);
    transform: rotate(90deg) scale(1, 1);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotate(90deg) scale(1, 1);
    transform: rotate(90deg) scale(1, 1);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  20% {
    -webkit-border-radius: 50% 0 0 0;
    border-radius: 50% 0 0 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  40% {
    -webkit-border-radius: 50% 50% 0 0;
    border-radius: 50% 50% 0 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  60% {
    -webkit-border-radius: 50% 50% 50% 0;
    border-radius: 50% 50% 50% 0;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  100% {
    -webkit-border-radius: 50% 50% 50% 5px;
    border-radius: 50% 50% 50% 5px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  20% {
    -webkit-border-radius: 50% 0 0 0;
    border-radius: 50% 0 0 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  40% {
    -webkit-border-radius: 50% 50% 0 0;
    border-radius: 50% 50% 0 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  60% {
    -webkit-border-radius: 50% 50% 50% 0;
    border-radius: 50% 50% 50% 0;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  100% {
    -webkit-border-radius: 50% 50% 50% 5px;
    border-radius: 50% 50% 50% 5px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

.clock {
  position: fixed;
  top: 15px;
  right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.3;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.clock:hover {
  opacity: 0;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #eff5f5;
  border-bottom: 1px solid rgba(160, 160, 160, 0.3);
}

@media screen and (max-width: 1600px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 1366px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 560px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}