@import url(fonts/fonts.css);

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #fff;
  line-height: 1.5;
  overflow-x: hidden !important;
}

.wrapper {
  max-width: 1600px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

body {
  overflow: hidden;
}

#preloader {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 1;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#loader {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-right: 17px;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.back {
  position: absolute;
  top: 100px;
  left: 40px;
  width: 100px;
}

.back ul {
  display: block;
  margin-bottom: 0;
  list-style: none;
}

.back ul li {
  white-space: nowrap;
}

.back ul li a {
  text-decoration: none;
}

.back ul.nav-history {
  padding-left: 36px;
  padding-top: 25px;
  pointer-events: none;
}

.back ul.nav-history li {
  margin-bottom: 5px;
}

.back ul.nav-history li::after {
  content: '';
  position: absolute;
  left: 12px;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #E8EAED;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.back ul.nav-history li:not(:last-child)::before {
  content: '';
  position: absolute;
  left: 17px;
  margin-top: 10px;
  width: 2px;
  height: 28px;
  background: #E8EAED;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.back ul.nav-history li.active {
  pointer-events: none;
}

.back ul.nav-history li.active::after {
  background: #E8EAED;
}

.back ul.nav-history li.active a {
  color: #5A667F;
}

.back ul.nav-history li a {
  color: #418AD8;
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.back ul.nav-history li a:hover {
  color: #2770bf;
}

.back ul.nav-links {
  position: absolute;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  margin-top: 20px;
  padding-left: 12px;
  opacity: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.back ul.nav-links li:not(:last-child) {
  margin-bottom: 5px;
}

.back ul.nav-links li a {
  font-size: 14px;
  font-weight: 600;
  color: #C8CCD4;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

.back ul.nav-links li a:hover {
  color: #9098A9;
}

.back:hover {
  width: auto;
}

.back:hover .menu-back {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.back:hover .btn-back div {
  background: rgba(65, 138, 216, 0.25);
}

.back:hover .btn-back div svg path,
.back:hover .btn-back div svg polyline {
  stroke: #418AD8;
}

.back:hover .btn-back span {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.back:hover ul.nav-history {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  pointer-events: auto;
}

.back:hover ul.nav-history li {
  margin-bottom: 8px;
}

.back:hover ul.nav-history li::after {
  background: #418AD8;
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
}

.back:hover ul.nav-history li.active::after {
  background: #5A667F;
}

.back:hover ul.nav-history li a {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.back:hover ul.nav-links {
  position: relative;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  pointer-events: auto;
}

.btn-back {
  display: inline-block;
}

.btn-back div {
  position: relative;
  z-index: 1;
  width: 36px;
  height: 36px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #E8EAED;
  float: left;
}

.btn-back div svg {
  fill: none;
  -webkit-transform: translate(10px, 7px);
  -ms-transform: translate(10px, 7px);
  transform: translate(10px, 7px);
}

.btn-back div svg path,
.btn-back div svg polyline {
  stroke: #9098A9;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.btn-back span {
  display: inline-block;
  color: #418AD8;
  margin-left: 10px;
  line-height: 34px;
  opacity: 0;
  -webkit-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn-back:hover span {
  color: #2770bf;
}

.credit {
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: .04em;
  color: white;
  background: #C8CCD4;
  padding: 6px 18px;
  line-height: 1.5em;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.credit:hover {
  text-decoration: none;
  background: #9098A9;
  color: white;
}

.app {
  height: 100vh;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  background-color: #fff;
  border-bottom: 2px solid rgba(160, 160, 160, 0.3);
}

.header-logo {
  height: 100%;
}

.header-logo a {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 30px;
  border-right: 1px solid rgba(160, 160, 160, 0.3);
}

.header-logo a span {
  color: darkred;
}

.header-menu {
  margin-left: 30px;
}

.header-menu-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu-item {
  margin: 0 10px;
  font-size: 18px;
}

.header-menu-item:first-child {
  margin-left: 0;
}

.header-menu-item:last-child {
  margin-right: 0;
}

.header-menu-item a {
  text-decoration: none;
  color: #000000;
}

.header-menu-item a.is-active {
  border-bottom: 3px solid rgba(160, 160, 160, 0.3);
}

.animate-frame {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: -webkit-calc(100% - 62px);
  height: calc(100% - 62px);
  width: 100%;
  background-color: #e2e2e2;
}

.slide-page {
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  height: -webkit-calc(100% - 30px);
  height: calc(100% - 30px);
  background-color: #fff;
  border: 1px solid rgba(160, 160, 160, 0.3);
  opacity: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.slide-page.on {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.page-title {
  margin-top: 30px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
}

.page-logo {
  font-size: 48px;
}

.page-descr {
  font-size: 20px;
  color: #888888;
}

@media screen and (max-width: 1600px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 1366px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 560px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}