@import "smart-grid"
// @import "fonts/fonts"
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=cyrillic')
// @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
@import "fonts/css/fontawesome-all"
@import "components/colors"

+reset()

body
  font-family: 'Montserrat', sans-serif
  font-size: 16px
  background-color: #fff
  overflow-x: hidden!important

.app
  width: 100vw
  height: 100vh
  display: flex
  background: #fff

.main
  position: relative
  padding: 0
  overflow: hidden
  width: 100%
  height: 100%
  display: flex
  transition: all 0.25s ease

.wrapper
  +wrapper()
  display: flex
  flex-direction: column



@import "components/preloader"
@import "developments/timer"

// @components
@import "components/header"
@import "components/_content.sass"

// @pages
@import "components/_home.sass"