@import "smart-grid"
// вероятно прелоадер будет появляться без багов
@import "components/preloader"
// на проверку
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=cyrillic')
@import "fonts/css/fontawesome-all"
@import "components/colors"

+reset()

body
  font-family: 'Montserrat', sans-serif
  font-size: 16px
  background-color: #fff
  overflow-x: hidden!important

.app
  width: 100vw
  min-height: 100vh
  display: flex
  background: #fff

.main
  position: relative
  padding: 0
  width: 100%
  display: flex
  flex: 1
  transition: all 0.25s ease

.wrapper
  +wrapper()
  display: flex
  flex-direction: column

// @developments
@import "developments/timer"

// @components
@import "components/header"
@import "components/content"

// @pages
@import "components/home"
@import "components/about"
@import "components/portfolio"
@import "components/contact"