<div class="page-header">

    <div class="header-mnu">

        <div class="wrapper">

            <a href="#" class="header-logo">devian<span>ll</span>ert</a>

            <a href="https://github.com/devianllert" class="github-logo">
              <img src="img/github.svg" alt="github">
            </a>

        </div>

    </div>

    <div class="header-main">

        <div class="wrapper">

            <p class="header-title">This page used for JavaScript training</p>

        </div>

    </div>

</div>
