
.icon-compare-icon:before { content: '\e800'; } /* '' */
.icon-up-open:before { content: '\e801'; } /* '' */
.icon-arrow-right:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-delivery-icon:before { content: '\e806'; } /* '' */
.icon-departments-icon:before { content: '\e807'; } /* '' */
.icon-dot:before { content: '\e808'; } /* '' */
.icon-feedback-icon:before { content: '\e809'; } /* '' */
.icon-wishlist-icon:before { content: '\e80a'; } /* '' */
.icon-market:before { content: '\e80b'; } /* '' */
.icon-payment-icon:before { content: '\e80c'; } /* '' */
.icon-return-icon:before { content: '\e80d'; } /* '' */
.icon-shopping-cart-icon:before { content: '\e80e'; } /* '' */
.icon-tag-icon:before { content: '\e80f'; } /* '' */
.icon-user:before { content: '\e810'; } /* '' */
.icon-ok:before { content: '\e811'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */